html {
  background: #282c34;
  scroll-behavior: smooth;
}

body {
  display: grid;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

h1 {
  color: white;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

h3 {
  color: white;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 400;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  color: whitesmoke;
}

#header-content {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #282c34cb;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 1;
  width: 100%;
}

.App-link {
  color: #61dafb;
}
